
<div class="row m-3" id="gateway-not-running">
  <div class="col-lg-12">
    <div class="box pb-2">
      <div class="box-title">
        Gateway process is not running
      </div>
    </div>
  </div>
</div>

<div id="gateway-running">
  <div id="gw-services">
    <div class="col-lg-12">
      <div class="box pb-2">
        <div class="box-title">
          Service Announcement
        </div>
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-lg-12">
      <div class="box pb-2">
        <div class="box-title mb-2">
          Files
        </div>
        <table class="gw-files-table table table-sm table-dark">
          <thead>
            <tr>
              <th>Age (s)</th>
              <th>Filename</th>
              <th>Location</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody id="gw-files-tbody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script language="javascript" src="/js/gateway.js"></script>
