[Unit]
Description=Web interface service for 5G-MAG Reference Tools
After=network.target

[Service]
Type=simple
User=ofr
ExecStart=/usr/bin/node /home/user-name/rt-wui/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
