  <div class="row m-3" id="service-template" style="display: none;">
    <div class="col-lg-12">
      <div class="box pb-2">
        <div class="box-title mb-2 mt-2">
          <div class="service-titles">
          </div>
          <a href="#" class="ser-play-link" target="_blank"><button class="bg-dark play-button">▷</button></a>
        </div>
        <div class="service-streams mt-1">
          <table id="service-stream-template" class="table table-sm table-dark service-stream" style="display: none;">
            <tr>
              <th>Stream Type</th>
              <td class="ser-stream-type"></td>
              <th>Delivery Protocol</th>
              <td class="ser-stream-delivery"></td>
              <th>Bandwidth</th>
              <td class="ser-stream-bw"></td>
              <td rowspan=4 class="service-play-cell">
                <a href="#" class="ser-stream-play-link" target="_blank"><button class="bg-dark play-button">▷</button></a>
              </td>
            </tr>
            <tr>
              <th>Resolution</th>
              <td class="ser-stream-resolution"></td>
              <th>Frame Rate</th>
              <td class="ser-stream-rate"></td>
              <th>Codecs</th>
              <td class="ser-stream-codecs"></td>
            </tr>
            <tr>
              <th>5G-BC / FLUTE</th>
              <td colspan=5 class="ser-stream-flute"></td>
            </tr>
            <tr>
              <th>CDN endpoint</th>
              <td colspan=5 class="ser-stream-cdn"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
<div id="services-holder">
</div>
