<div class="row m-3" id="middleware-not-running">
  <div class="col-lg-12">
    <div class="box pb-2">
      <div class="box-title">
        Middleware process is not running
      </div>
    </div>
  </div>
</div>

<div id="middleware-running">
  <ul class="ml-3 mr-3 mt-3 nav nav-tabs nav-dark" id="gateway-tab">
    <li class="nav-item">
      <a class="nav-link active" id="services-tab" href="#services" data-toggle="tab">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cache-tab" href="#cache" data-toggle="tab">Cache</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sa-tab" href="#sa" data-toggle="tab">Service Announcement</a>
    </li>
  </ul>

  <div class="tab-content" id="gw-tab-content">
    <div class="tab-pane fade show active" id="services">
      <%- include('_services.ejs') %>
    </div>
    <div class="tab-pane fade" id="sa">
      <%- include('_service_announcement.ejs') %>
    </div>
    <div class="tab-pane fade" id="cache">
      <%- include('_cache.ejs') %>
    </div>
  </div>
</div>


<script language="javascript" src="js/middleware.js"></script>
<script language="javascript" src="prism/prism.js" data-manual></script>
