@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$body-bg: #222;
$body-color: #fff; 

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "dashboard" 
